.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}

.fractal-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 2px solid #006e99;
  border-radius: 6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem 1.25rem;
  line-height: 1;
  color: white;
  background-color: #006e99;
}

.fractal-button--secondary {
  color: #006e99;
  background-color: transparent;
}

.fractal-button:hover {
  color: white;
  background-color: #014864;
  border-color: #014864;
}

.fractal-button:focus {
  outline: 2px solid #006e99;
  outline-offset: 3px;
}
